NEXT_PUBLIC_SUPABASE_URL=https://cmvwsiaynqgnvbenruoj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtdndzaWF5bnFnbnZiZW5ydW9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMDM3NDMsImV4cCI6MjA4ODY3OTc0M30.LT3-baWuCkWVItEVXG2GHDSOAduv-GpONTADBbgYzoE
